/*Add CSS styles here*/

/*Rule: assign static or defualt styles in CSS*/

/* this following part was for the bubblechart
.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.9em;
}

.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
*/
.header {
    background: #c5050c;
    border: medium solid #999;
    text-align: center;
    color: white;
    font-size: 22px;
}

body {
    background-color: rgb(196, 255, 234);
}

.map {
    border: medium solid #999;
    background-color: rgb(179, 216, 239); /* background is just Great Lakes so making blue! */
}

.counties {
    fill: white;
    stroke: #636568;
    stroke-width: 2px;
}

.states {
    fill: #fff;
    stroke: #a3aeb6;
    stroke-width: 2px;
}